<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="websocket">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="websocket" class="table table-striped">
                <thead>
                <tr>
                    <th>Alerts</th>
                </tr>
                </thead>
                <tbody id="alerts">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>